@model List<SubscribeDto>
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Subscribe Client</a></li>
                        <li class="breadcrumb-item active">Subscribe Client Göster</li>
                    </ol>
                </div>
                <h4 class="page-title">Subscribe Client Göster</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Subscribe Client Göster</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Subscribe Client Mail İnfo</th>
                                    <th style="text-align: right;">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ClientMail</td>
                                        <td style="text-align: right;">
                                            <div style="display: inline-block;">
                                                <form>
                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link text-reset fs-16 px-1">
                                                        <i>@Html.ActionLink("Sil", "DeleteSubscribe",new{id=item.Id}, new { @class="ri-delete-bin-2-line", onclick = "return confirm('Silmek istediğinizden emin misiniz?')"})</i>
                                                    </button>
                                                </form>
                                            </div> <input value="@ViewBag.Message" id="bag" style="display:none;" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div><!-- end row-->
</div> <!-- container -->

<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("İşleminiz başarı ile gerçekleşti", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>